body {
	box-sizing: border-box;
}

header {
	background-color: #0DAFD6;
}

.container {
	margin: 0 auto; /*centre within body*/
}

@media only screen and (max-width: 320px) {
	.container {
		width: 100%; /*use all available space on a small screen*/
	}
}

@media only screen and (min-width: 321px) {
	.container {
		width: 60%; /*centre content*/
	}
}

h1 {
	text-align: center;
	color: #FFFFFF;
	padding: 25px 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: Helvetica, Arial;
}

ul {
	padding: 0;
}

/*Top buttons*/
#top li {
	list-style-type: none; /*get rid of standard list formatting*/
	display: inline-block; /*let items display horizontally*/
}

#top ul{
	text-align: center; /*centre the items*/
}

#top button {
	border: solid #0DAFD6 1px;
	border-radius: 9px;
	padding: 5px 0px;
	margin-top: 5px;
	background-color: #0DAFD6;
	color: #FFFFFF;
	width: 120px;
}

/*List items*/
#list li {
	list-style-type: none;
	border-radius: 9px;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	width: 240px;
}

#list {
	text-align: center; /*centre the list in the section vertically*/
}

#list ul {
	display: inline-block; /*allows the list to be centred*/
}

.cross {
	float: right;
	background-image: url("../images/cross.png");
	background-repeat: no-repeat;
	background-size: 1em;
	height: 1em;
	width: 1em;
	margin-top: 1px;
}

.unchecked {
	background-color: #0DAFD6; /*light blue*/
	color: #FFFFFF;
	border: solid #0DAFD6 1px;
}

.checked {
	background-color: #d9e1e2; /*light grey*/
	color: #FFFFFF;
	border: solid #d9e1e2 1px;
	text-decoration: line-through; /*strike through the item text*/
}

.add {
	border: solid #0DAFD6 1px;
	color: #0DAFD6;
}

input:focus {
	border: none;	/*No border on the input box*/
	outline: 0;		/*No border on the input box*/
}

input {
	height: 1em;	/*set so that the li doesn't get bigger*/
	text-align: center;
}