body {
	width: 60%;
	margin: 0 auto;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: Helvetica, Arial;
}

ul {
	padding: 0;
}

/*Top buttons*/
#top li {
	list-style-type: none;
	display: inline-block;
}

#top ul{
	text-align: center;
}

#top button {
	border: solid #0DAFD6 1px;
	border-radius: 9px;
	padding: 5px 0px;
	margin-top: 5px;
	background-color: #0DAFD6;
	color: #FFFFFF;
	width: 120px;
}

/*List items*/
#list li {
	list-style-type: none;
	border: solid #0DAFD6 1px;
	border-radius: 9px;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	background-color: #0DAFD6;
	color: #FFFFFF;
	width: 240px;
}

#list {
	text-align: center;
}

#list ul {
	display: inline-block;
}

.cross {
	float: right;
}